<a href="https://colab.research.google.com/github/GuiCostaah/GuiCostaah/blob/main/aula1_curso_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tamanho_da_lista=len(notas)
print(tamanho_da_lista)

5

In [ ]:
notas=[1,2,3,4,5]
print(notas)

[1, 2, 3, 4, 5]

In [ ]:
soma_das_notas = sum(notas)
print ("A soma das notas é:",soma_das_notas)

A soma das notas é: 15

In [ ]:
média_das_notas = soma_das_notas/tamanho_da_lista
print ("A média das notas é:",média_das_notas)

A média das notas é: 3.0

In [ ]:
print("Escola de Dados da Alura!")

Escola de Dados da Alura!

In [ ]:
print("Nome:","Guilherme",
      'Sobrenome:','Costa')

Nome: Guilherme Sobrenome: Costa

In [ ]:
print(18,'setembro',2004)

18 setembro 2004

In [ ]:
print('Ano atual:',2024)

Ano atual: 2024

In [ ]:
#Estou fazendo um comentário
'''
Agora to fazendo um comentário grande
'''

'\nAgora to fazendo um comentário grande\n'

#OI
##OI
###OI
*Itálico*
**Negrito**
***Negrito e itálico***
* item 1
* item 2

1. oi
2. tchau

[Site da Alura](www.alura.com.br)

In [ ]:
idade = 65

In [ ]:
print(idade)

65

In [ ]:
idade=5

In [ ]:
print(idade)

5

In [ ]:
idade

5

In [ ]:
nome = 'Guilherme'
nome

'Guilherme'

In [ ]:
type(nome)

str

In [ ]:
from re import S
q_segurança=5
s_segurança=3000
q_docente=16
s_docente=6000
q_dretoria=1
s_diretoria = 12500

q_total=q_segurança + q_docente + q_dretoria

todos_os_salarios = [s_segurança,s_docente,s_diretoria]
diferença_maior_menor = max(todos_os_salarios)-min(todos_os_salarios)

media_salarios = q_segurança * s_segurança + q_docente * s_docente + q_dretoria * s_diretoria
media_ponderada = media_salarios/q_total

print(q_total)
print(diferença_maior_menor)
print(media_ponderada)

22
9500
5613.636363636364

In [ ]:
print(4056//51)

print(4056%51)

79
27

In [ ]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [ ]:
texto='  guilhErnE coSTa'
a=texto.upper()
b=texto.lower()
c=texto.title()
d=texto.capitalize()
e=texto.strip()
f=texto.replace('e','u')

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

  GUILHERNE COSTA
  guilherne costa
  Guilherne Costa
  guilherne costa
guilhErnE coSTa
  guilhErnE coSTa

In [ ]:
texto = texto.strip().replace("n","m").title()
print(texto)

Guilherme Costa

In [ ]:
chr(79) + chr(108) + chr(225)

'Olá'

In [ ]:
nome = input(str("Qual o seu nome?"))
int(nome)
print(nome)

Qual o seu nome?15
15

In [ ]:
ano_de_entrada=input('Qual ano de matricula?')
int(ano_de_entrada)
print(ano_de_entrada)

Qual ano de matricula?2024
2024

In [ ]:
nota_entrada=float(input('Nota: '))
print(f'Ano de matricula: {ano_de_entrada} - A nota foi: {nota_entrada}')

Nota: 10
Ano de matricula: 2024 - A nota foi: 10.0

In [ ]:
print('Nome do aluno: %s com idade de 20 anos'
      %(texto))

Nome do aluno: Guilherme Costa com idade de 20 anos

In [ ]:
print('Nome do aluno: {} \n{}\tanos'.format(texto,nome))

Nome do aluno: Guilherme Costa
15	anos

In [ ]:
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

In [ ]:
print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

In [ ]:
print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse 'Estudar é a chave do sucesso.'

In [ ]:
nome = input('Digite seu nome:')
print('Olá {}!'.format(nome))

Digite seu nome:Guilherme
Olá Guilherme!

In [ ]:
nome= input('Digite seu nome:')
idade= input('Digite sua idade:')
print('Olá {}! Você tem {} anos.'.format(nome,idade))

Digite seu nome:Guilherme
Digite sua idade:20
Olá Guilherme! Você tem 20 anos.

In [ ]:
nome = input('Digite seu nome:')
idade = input('Digite sua idade:')
altura = input('Digite sua altura')
print(f'Olá,{nome}, você tem {idade}\nMede {altura} metros!')
type (idade)
type(altura)

Digite seu nome:Guilherme
Digite sua idade:20
Digite sua altura1.85
Olá,Guilherme, você tem 20
Mede 1.85 metros!

str

In [ ]:
valor_1 = int(input('Digite o primeiro valor:'))
valor_2 = int(input('Digite o segundo valor:'))
print(valor_1 * valor_2)

Digite o primeiro valor:2
Digite o segundo valor:5
10

In [ ]:
valor_1 = float(input('DIGITE UM VALOR: '))
valor_2= float(input('DIGITE OUTRO VALOR: '))
valor_3= float(input('DIGITE MAIS UM VALOR: '))
soma = valor_1 + valor_2 + valor_3
print(soma)

DIGITE UM VALOR: 12.4
DIGITE OUTRO VALOR: 30.4
DIGITE MAIS UM VALOR: 12.2
55.0

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador: '))
while denominador == 0:
  print('Não é possível fazer a operação')
  denominador = int(input('Digite o denominador: '))
print(numerador//denominador)

Digite o numerador: 10
Digite o denominador: 3
3

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador: '))
while denominador == 0:
  print('Não é possível fazer a operação')
  denominador = int(input('Digite o denominador: '))
print(numerador%denominador)

Digite o numerador: 10
Digite o denominador: 3
1

In [ ]:
operador=int(input("digite um valor"))
potencia=int(input("digite um valor"))
print(operador**potencia)

digite um valor10
digite um valor10
10000000000

In [ ]:
nota1 = float(input('Digite a primeira nota '))
nota2 = float(input('Digite a segunda nota '))
nota3 = float(input('Digite a terceira nota '))
nota4 = float(input('Digite a quarta nota '))
nota5 = float(input('Digite a quinta nota '))
notas=[nota1,nota2,nota3,nota4,nota5]
soma=_nota=sum(notas)
media=soma/len(notas)
print(f'Média das notas:{media}')
print(soma,len(notas))

Digite a primeira nota 10
Digite a segunda nota 9.5
Digite a terceira nota 7
Digite a quarta nota 3
Digite a quinta nota 8
Média das notas:7.5
37.5 5

In [ ]:
números=[5,12,20,15]
peso=[1,2,3,4]
soma=números[0]*peso[0]+números[1]*peso[1]+números[2]*peso[2]+números[3]*peso[3]
print(soma)
print(f'A média ponderada é {soma/sum(peso)}')

149
A média ponderada é 14.9

In [ ]:
frase = "Exército Brasileiro"
print(frase)

Exército Brasileiro

In [ ]:
frase= input('Digite uma frase: ')
print(frase.upper())
print(frase.lower())
print(frase.strip())

Digite uma frase:    GuilHERME
   GUILHERME
   guilherme
GuilHERME

In [ ]:
frase= input('Digite uma frase: ')
frase = frase.lower().strip()
print(frase)

Digite uma frase:   FALA FIOTE
fala fiote

In [ ]:
frase= input('Digite uma frase: ')
frase = frase.lower().strip()
print(frase.replace('s','$'))

Digite uma frase: postar saco
po$tar $aco

SEPARANDO AULA 3 - IF ELSE

In [ ]:
media=float(input('Digite a média: '))

if media>= 6.0:
  print('aprovado!')
else:
  print('reprovado!')

Digite a média: 6.1
aprovado!

In [ ]:
media = float(input('Digite a média: '))
if media >= 6.0:
  print('Aprovado!')
elif 6.0 > media >= 4.0:
  print('Recuperação')
else:
  print('Reprovado')

Digite a média: 4.001
Recuperação

OPERADORES LOGICOS AND OR OU NOT

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and t2:
  print('Verdadeiro')
else:
  print('Falso')

Verdadeiro

In [ ]:
if f1 or t2:
  print('Verdadeiro')
else:
  print('Falso')

Verdadeiro

In [ ]:
if not t2:
  print('Verdadeiro')
else:
  print('Falso')

Falso

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues'
print(lista)

José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues

In [ ]:
nome_1='Maria Oliveira'
nome_2='Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'O nome {nome_1} está na lista')
else:
  print(f'O nome {nome_1} não está na lista')

O nome Maria Oliveira está na lista

In [ ]:
numero_1= int(input('Digite um número: '))
numero_2= int(input('Digite um número: '))
if numero_1>numero_2:
  print(f'O número {numero_1} é maior')
else:
  print(f'O número {numero_2} é maior')

Digite um número: 50
Digite um número: 51
O número 51 é maior

In [ ]:
percentual=float(input('Digite o percentual de crescimento de produção: '))
if percentual>0:
  print('Houve um aumento na produção.')
else:
  print('Houve um decréscimo na produção')

Digite o percentual de crescimento de produção: -5
Houve um decréscimo na produção

In [ ]:
vogais='aeiou'
letra=input('Digite uma letra: ').lower()
if letra in vogais:
  print(f'A letra {letra} é uma vogal')
else:
  print(f'A letra {letra} é uma consoante')

Digite uma letra: a
A letra a é uma vogal

In [ ]:
valor_medio_1=float(input('Digite o valor médio do carro em 2020: '))
valor_medio_2=float(input('Digite o valor médio do carro em 2021: '))
valor_medio_3=float(input('Digite o valor médio do carro em 2022: '))

if valor_medio_1>valor_medio_2 and valor_medio_1>valor_medio_3:
  print(f'O carro em 2020 foi o mais caro')
  if valor_medio_2>valor_medio_3:
    print(f'O carro em 2022 foi o  mais barato')
  else:
    print(f'O carro em 2021 foi o mais barato')
elif valor_medio_2>valor_medio_1 and valor_medio_2>valor_medio_3:
  print(f'O carro em 2021 foi o mais caro')
  if valor_medio_1>valor_medio_3:
    print(f'O carro em 2022 foi o mais barato')
  else:
    print(f'O carro em 2020 foi o mais barato')
elif valor_medio_3>valor_medio_1 and valor_medio_3>valor_medio_1:
  print(f'O carro em 2022 foi o mais caro')
  if valor_medio_1>valor_medio_2:
    print(f'O carro em 2021 foi o mais barato')
  else:
    print(f'O carro em 2020 foi o mais barato')
elif valor_medio_1==valor_medio_2 and valor_medio_1>valor_medio_3:
  print(f'O carro em 2020 e 2021 foram os mais caros')
elif valor_medio_1==valor_medio_3 and valor_medio_1>valor_medio_2:
  print(f'O carro em 2020 e 2022 foram os mais caros')
elif valor_medio_2==valor_medio_3 and valor_medio_2>valor_medio_1:
  print(f'O carro em 2021 e 2022 foram os mais caros')
else:
  print('Os carros de 2020, 2021 e 2022 foram iguais')





# Coletamos os preços dos 3 anos
preco_ano1 = float(input('Informe o preço médio do carro no primeiro ano: '))
preco_ano2 = float(input('Informe o preço médio do carro no segundo ano: '))
preco_ano3 = float(input('Informe o preço médio do carro no terceiro ano: '))

# Determinamos o maior valor através de comparações
maior = preco_ano1
if preco_ano2 > maior:
  maior = preco_ano2
if preco_ano3 > maior:
  maior = preco_ano3

# Determinamos o menor valor através de comparações
menor = preco_ano1
if preco_ano2 < menor:
  menor = preco_ano2
if preco_ano3 < menor:
  menor = preco_ano3

# Mostramos o resultado
print(f'O preço mais alto foi de R$ {maior}.')
print(f'O preço mais baixo foi de R$ {menor}.')

Digite o valor médio do carro em 2020: 20000
Digite o valor médio do carro em 2021: 20500
Digite o valor médio do carro em 2022: 23000
O carro em 2022 foi o mais caro
O carro em 2020 foi o mais barato

In [ ]:
produto_1=float(input('Digite o valor do primeiro produto: '))
produto_2=float(input('Digite o valor do segundo produto: '))
produto_3=float(input('Digite o valor do terceiro produto: '))

if produto_1<produto_2 and produto_1<produto_3:
  print(f'O produto 1 é o mais barato para comprar')

elif produto_2<produto_1 and produto_2<produto_3:
  print(f'O produto 2 é o mais barato para comprar')

elif produto_3<produto_1 and produto_3<produto_2:
  print(f'O produto 3 é o mais barato para comprar')

else:
  print('Os produtos são iguais')


# Coletamos os preços dos três produtos
p1 = float(input('Digite o preço do primeiro produto: '))
p2 = float(input('Digite o preço do segundo produto: '))
p3 = float(input('Digite o preço do terceiro produto: '))

# Verificamos qual produto é o mais barato usando o operador lógico 'and'
if p1 < p2 and p1 < p3:
    print('O primeiro produto é o mais barato.')
elif p2 < p1 and p2 < p3:
    print('O segundo produto é o mais barato.')
elif p3 < p1 and p3 < p2:
    print('O terceiro produto é o mais barato.')
elif p1 == p2 == p3:
    print('Os produtos possuem o mesmo preço.')
else:
    # Identificamos quais produtos possuem o mesmo preço, se for o caso
    if p1 == p2:
        print('O primeiro e o segundo produtos são os mais baratos.')
    elif p2 == p3:
        print('O segundo e terceiro produtos são os mais baratos.')
    elif p1 == p3:
        print('O primeiro e o terceiro produtos são os mais baratos.')

Digite o valor do primeiro produto: 10
Digite o valor do segundo produto: 20
Digite o valor do terceiro produto: 5
O produto 3 é o mais barato para comprar

In [ ]:
numero_1= int(input('Digite um número '))
numero_2= int(input('Digite um número '))
numero_3= int(input('Digite um número '))

if numero_1>numero_2 and numero_1>numero_3:
  if numero_2>numero_3:
    print(f'{numero_1},{numero_2},{numero_3}')
  else:
    print(f'{numero_1},{numero_3},{numero_2}')

elif numero_2>numero_1 and numero_2>numero_3:
  if numero_1>numero_3:
    print(f'{numero_2},{numero_1},{numero_3}')
  else:
    print(f'{numero_2},{numero_3},{numero_1}')

elif numero_3>numero_1 and numero_3>numero_2:
  if numero_1>numero_2:
    print(f'{numero_3},{numero_1},{numero_2}')
  else:
    print(f'{numero_3},{numero_2},{numero_1}')

Digite um número 1
Digite um número 2
Digite um número 3
3,2,1

In [ ]:
turno=input('Qual período você estuda? (Digite manhã, tarde ou noite) ')
if turno=='manhã'or turno=='manha':
  print('Bom dia!')
elif turno=='tarde':
  print('Boa tarde!')
elif turno=='noite':
  print('Boa noite!')
else:
  print('Valor inválido')

Qual período você estuda? (Digite manhã, tarde ou noite) manha
Bom dia!

In [ ]:
numero=int(input('Digite um número: '))
if numero%2==0:
  print(f'O número {numero} é par')
else:
  print(f'O número {numero} é ímpar')

Digite um número: 156
O número 156 é par

In [ ]:
numero=float(input('Digite um número:'))

if numero.is_integer()==False:
  print(f'O número {numero} é decimal')
else:
  print(f'O número {numero} não é decimal')

# Coletamos os dados
num = float(input('Digite um número: '))

# Verificamos se o número é inteiro ou decimal através do resultado do módulo
if num % 1 == 0:
    print('O número é inteiro.')
else:
    print('O número é decimal.')

Digite um número:10.1
O número 10.1 é decimal

In [ ]:
numero_1 = float(input('Digite um número: '))
numero_2 = float(input('Digite um número: '))
operação = input('Digite a operação (+, -, *, /): ')
if operação == '+':
  resultado=numero_1 + numero_2
  if resultado%2==0 and resultado>0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, positivo e inteiro')
  elif resultado%2!=0 and resultado>0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar, positivo e decimal')
  elif resultado%2==0 and resultado<0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, negativo e inteiro')
  elif resultado%2!=0 and resultado<0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar,negativo e decimal')
elif operação == '-':
  resultado=numero_1 - numero_2
  if resultado%2==0 and resultado>0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, positivo e inteiro')
  elif resultado%2!=0 and resultado>0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar, positivo e decimal')
  elif resultado%2==0 and resultado<0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, negativo e inteiro')
  elif resultado%2!=0 and resultado<0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar,negativo e decimal')

elif operação == '*':
  resultado=numero_1 * numero_2
  if resultado%2==0 and resultado>0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, positivo e inteiro')
  elif resultado%2!=0 and resultado>0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar, positivo e decimal')
  elif resultado%2==0 and resultado<0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, negativo e inteiro')
  elif resultado%2!=0 and resultado<0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar,negativo e decimal')

elif operação == '/':
  resultado=numero_1 / numero_2
  if resultado%2==0 and resultado>0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, positivo e inteiro')
  elif resultado%2!=0 and resultado>0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar, positivo e decimal')
  elif resultado%2==0 and resultado<0 and resultado.is_integer()==True:
    print(f'O resultado é {resultado}, é par, negativo e inteiro')
  elif resultado%2!=0 and resultado<0 and resultado.is_integer()==False:
    print(f'O resultado é {resultado}, é ímpar,negativo e decimal')

else:
  print('Operação inválida')


# Coletamos os números a serem operados e solicitamos a operação desejada pela pessoa usuária
num1 = float(input('Informe o primeiro número: '))
num2 = float(input('Informe o segundo número: '))
operacao = input('Informe a operação desejada (+, -, *, /): ')

# Verificamos o operador que foi selecionado e executa a operação matemática conforme a seleção
if operacao == '+':
    resultado = num1 + num2
elif operacao == '-':
    resultado = num1 - num2
elif operacao == '*':
    resultado = num1 * num2
elif operacao == '/':
    resultado = num1 / num2
else: # Especificamos um resultado caso a pessoa usuária não digite alguma das operações corretamente.
    print('Operação inválida, resultado da operação será 0')
    resultado = 0

#  Fazemos as mesmas verificações das questões anteriores para fazer o relatório do cálculo entre números
if resultado % 1 == 0:
    print('O resultado é inteiro.')
else:
    print('O resultado é decimal.')

if resultado > 0:
    print('O resultado é positivo.')
elif resultado == 0:
    print('O resultado é neutro.')
else:
    print('O resultado é negativo.')

if resultado % 2 == 0:
    print('O resultado é par.')
else:
    print('O resultado é ímpar.')

Digite um número: 10
Digite um número: 304
Digite a operação (+, -, *, /): /
O resultado é 0.03289473684210526, é ímpar, positivo e decimal

In [ ]:
lado_1 = float(input('Digite o valor do primeiro lado do triângulo: '))
lado_2 = float(input('Digite o valor do segundo lado do triângulo: '))
lado_3 = float(input('Digite o valor do terceiro lado do triângulo: '))

if lado_1>0 and lado_2>0 and lado_3>0:
  if lado_1+lado_2>lado_3 and lado_1+lado_3>lado_2 and lado_2+lado_3>lado_1:
    print('É possível formar um triângulo')
    if lado_1==lado_2 and lado_1==lado_3:
      print('Lados de um Triângulo equilátero')
    elif lado_1==lado_2 or lado_1==lado_3 or lado_2==lado_3:
      print('Lados de um Triângulo isósceles')
    else:
      print('Lados de um Triângulo escaleno')
  else:
    print('Não é possível formar um triângulo, a soma de dois lados tem de ser maior que um.')
else:
  print('Não é possível formar um triângulo com lados negativos.')



  # Coletamos os lados de um triângulo
print('Coletaremos os lados de um triângulo.')
lado1 = float(input('Digite o comprimento do primeiro lado: '))
lado2 = float(input('Digite o comprimento do segundo lado: '))
lado3 = float(input('Digite o comprimento do terceiro lado: '))

# Verificamos de os lados formam um triângulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('Os valores podem formar um triângulo!')
    # comparamos os lados para verificar o tipo de triângulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('O triângulo é equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('O triângulo é escaleno.')
    else:
        print('O triângulo é isósceles.')
else:
    print('Os valores não podem formar um triângulo!')

Digite o valor do primeiro lado do triângulo: 10
Digite o valor do segundo lado do triângulo: 10
Digite o valor do terceiro lado do triângulo: 10
Lados de um Triângulo equilátero

In [ ]:
tipo_combustível=input('Digite o tipo de combustível (E para Etanol ou D para Diesel): ')
if tipo_combustível=='E' or tipo_combustível=='e':
  litros=float(input('Digite a quantidade de litros: '))
  if litros <=15:
    desconto = litros*1.70*0.02
    preço=litros*1.70-desconto
    print(f'O preço a pagar é de R$ {preço:.2f}')
  else:
    desconto = litros*1.70*0.04
    preço=litros*1.70-desconto
    print(f'O preço a pagar é de R$ {preço:.2f}')
elif tipo_combustível=='D' or tipo_combustível=='d':
  litros=float(input('Digite a quantidade de litros: '))
  if litros <=15:
    desconto = litros*2.0*0.03
    preço=litros*2.0-desconto
    print(f'O preço a pagar é de R$ {preço:.2f}')
  else:
    desconto = litros*2.0*0.05
    preço=litros*2.0-desconto
    print(f'O preço a pagar é de R$ {preço:.2f}')
else:
  print('Tipo de combustível inválido')



  # Coletamos a quantidade de litros e o tipo de combustível,
# já deixando o caractere em maiúsculo para facilitar nossa análise
quantidade_litros = float(input('Informe a quantidade de litros vendidos: '))
tipo_combustivel = input('Informe o tipo de combustível (E para etanol e D para diesel): ').upper()

#  Verificamos primeiro o tipo de combustível
if tipo_combustivel == 'E':
  # Taxamos o valor do preço em litros do etanol
  preco_litro = 1.70
  # De acordo com o valor da quantidade de litros, taxamos também o desconto
  if quantidade_litros <= 15:
    desconto = 0.02
  else:
    desconto = 0.04
elif tipo_combustivel == 'D':
  # Taxamos o valor do preço em litros do disel
  preco_litro = 2.00
  # De acordo com o valor da quantidade de litros, taxamos também o desconto
  if quantidade_litros <= 15:
    desconto = 0.03
  else:
    desconto = 0.05
# Caso ocorra um erro na especificação de tipo de combustível,
# consideramos entradas inválidas, e os preços são taxados em 0
else:
    print('Entradas inválidas!')
    preco_litro = 0
    desconto = 0

# Fazemos o cálculo do valor de desconto, seguido do cálculo do preço descontado
valor_desconto = preco_litro * quantidade_litros * desconto
valor_pago = preco_litro * quantidade_litros - valor_desconto

# Resultado
print(f'Valor a ser pago pelo cliente: R$ {valor_pago}')

Digite o tipo de combustível (E para Etanol ou D para Diesel): d
Digite a quantidade de litros: 14.5678
O preço a pagar é de R$ 28.26

In [ ]:
q_vendas_22=int(input('Digite a quantiade de vendas em 2022: '))
q_vendas_23=int(input('Digite a quantiade de vendas em 2023: '))

if q_vendas_23>q_vendas_22:
  diferença=(q_vendas_23)-(q_vendas_22)
  porcentagem =diferença/q_vendas_22*100

  if porcentagem>=20:
    print(f'Houve um variação positiva de {porcentagem:.2f}% nas vendas, sugiro uma bonificação para o time de vendas')
  elif 20>porcentagem>2:
    print(f'Houve uma variação positiva de {porcentagem:.2f}% nas vendas, sugiro uma pequena bonificação.')
  elif 0<porcentagem<=2:
      print(f'Houve uma variação positiva de {porcentagem:.2f}% nas vendas, planejamento de politicas de incentivo.')

elif q_vendas_22>q_vendas_23:
  diferença=q_vendas_22-q_vendas_23
  porcentagem =diferença/q_vendas_23*100
  porcentagem = porcentagem*-1
  if 10*-1<porcentagem<=0:
      print(f'Houve uma variação negativa de {porcentagem:.2f}% nas vendas, planejamento de politicas de incentivo.')
  else:
      print(f'Houve uma variação negativa de {porcentagem:.2f}% nas vendas, corte de gastos.')

else:
  print('A quantidade de vendas foi igual.')



# Coletamos as vendas dos dois anos
venda_2022 = float(input('Informe a quantidade de vendas em 2022: '))
venda_2023 = float(input('Informe a quantidade de vendas em 2023: '))

# Calculamos a variação percentual entre as vendas dos anos de 2022 e 2023
var_percentual = 100 * (venda_2023 - venda_2022) / (venda_2022)

# Análise condicional da variação percentual para determinar a sugestão a ser enviada
if var_percentual > 20:
    print('Bonificação para o time de vendas.')
elif 2 <= var_percentual <= 20:
    print('Pequena bonificação para time de vendas.')
elif -10 <= var_percentual < 2:
    print('Planejamento de políticas de incentivo às vendas.')
else:
    print('Corte de gastos.')

Digite a quantiade de vendas em 2022: 10
Digite a quantiade de vendas em 2023: 1
Houve uma variação negativa de -900.00% nas vendas, corte de gastos.
Informe a quantidade de vendas em 2022: 10
Informe a quantidade de vendas em 2023: 20
Bonificação para o time de vendas.

LAÇOS DE REPETIÇÃO

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))

print(f'A média é {(nota1+nota2)/2}')

In [ ]:
contador=1
while contador<=10:
  print(contador)
  contador+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
contador=1
while contador<=3:
  nota1 = float(input("Digite a primeira nota: "))
  nota2 = float(input("Digite a segunda nota: "))

  print(f'A média do aluno {contador} é {(nota1+nota2)/2}')
  contador+=1

Digite a primeira nota: 0
Digite a segunda nota: 0
A média do aluno 1 é 0.0
Digite a primeira nota: 0
Digite a segunda nota: 0
A média do aluno 2 é 0.0
Digite a primeira nota: 0
Digite a segunda nota: 0
A média do aluno 3 é 0.0

In [ ]:
for contador in range(1,4):
  nota1 = float(input("Digite a primeira nota: "))
  nota2 = float(input("Digite a segunda nota: "))

  print(f'A média do aluno {contador} é {(nota1+nota2)/2}')

Digite a primeira nota: 1
Digite a segunda nota: 2
A média do aluno 1 é 1.5
Digite a primeira nota: 3
Digite a segunda nota: 4
A média do aluno 2 é 3.5

In [ ]:
for i in range(1,6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1,6):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
numero_1 = int(input('Digite um número: '))
numero_2 = int(input('Digite outro número: '))

for i in range(numero_1+1,numero_2):
  print(i)

Digite um número: 10
Digite outro número: 20
11
12
13
14
15
16
17
18
19

In [ ]:
colonia_a=4
colonia_b=10

dias=0

crescimento_a=0.03
crescimento_b=0.015

while colonia_a<=colonia_b:
  colonia_a*=1+crescimento_a
  colonia_b*=1+crescimento_b
  dias+=1

print(f'A quantidade de dias para ultrapassar foram {dias}')
print(colonia_a)
print(colonia_b)

A quantidade de dias para ultrapassar foram 63
25.75165514029833
25.54822084811115

In [ ]:
for i in range(15):
    nota=int(input(f'Digite a nota da pessoa usuária {i}: '))
    while nota>5 or nota<0:
      nota=int(input(f'Digite a nota corretamente da pessoa usuária {i}: '))
    print(f'A nota da pessoa usuária {i} é {nota}')

KeyboardInterrupt: Interrupted by user

In [ ]:
lista_temperaturas=[]
continuar=True
while continuar:
  temperatura=int(input('Digite a temperatura em celsius: '))
  if temperatura==-273:
    continuar=False
    break
  else:
    lista_temperatura=lista_temperaturas.append(temperatura)
    continuar=input('Deseja continuar? (s para sim; n para não): ')
    while continuar!='n' and continuar!='s':
        continuar=input('Deseja continuar? (s para sim; n para não): ')
    if continuar=='n':
      continuar=False
      break
    else:
      continue

print(f'A média das temperaturas foi de {sum(lista_temperaturas)/len(lista_temperaturas)}°C')


# coletamos a temperatura
temperatura = float(input('Insira a temperatura em Celsius: '))

# inicializamos uma contadora e soma para a média
contadora = 0
soma = 0

# nosso código executa sempre até o valor de temperatura for igual a -273
while temperatura != -273:
    # a soma é dada com a adição da temperatura à variavel soma
    soma += temperatura
    # contamos a quantidade de valores coletados através da contadora
    contadora += 1
    # coletamos novamente a temperatura
    temperatura = float(input('Insira a temperatura em Celsius: '))

media = soma / contadora

print(f'A média das temperaturas é: {media}')

Digite a temperatura em celsius: 10
Deseja continuar? (s para sim; n para não): 20
Deseja continuar? (s para sim; n para não): s
Digite a temperatura em celsius: 20
Deseja continuar? (s para sim; n para não): 30
Deseja continuar? (s para sim; n para não): s
Digite a temperatura em celsius: -273
A média das temperaturas foi de 15.0°C

In [ ]:
numero=int(input('Digite um número: '))
multiplicação=1
while numero<=0:
    numero=int(input('Digite um número maior que zero: '))

for i in range(1,numero+1):
  multiplicação*=i
print(multiplicação)

# Pedir o número
num = int(input('Informe um número inteiro: '))

# Inicializar o cálculo
fatorial = 1

# nosso contador inicializa com o número máximo
# e será feita uma contagem decrescente com o operador -=
i = num
while i > 0:
    # queremos multiplicar agora o valor do fatorial pelo num
    # e todos os números abaixo dele até 1
    fatorial *= i
    i -= 1

# Imprimir o cálculo do fatorial
print(f'Fatorial de {num} é {fatorial}')

Digite um número: 0
Digite um número maior que zero: -1
Digite um número maior que zero: 1
1

In [ ]:
numero=int(input('Digite um número de 1 a 10: '))
while not 0<numero<10:
    numero=int(input('Digite um número maior que zero e menor que dez: '))
for i in range(1,11):
  print(f'{numero} x {i} = {numero*i}')

Digite um número de 1 a 10: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
numero=int(input('Digite um número: '))
while numero<=0:
    numero=int(input('Digite um número maior que zero: '))
for i in range(2,numero+1):
  if i==numero:
    print("O número {} é primo!".format(numero))
  elif numero%i==0:
    print("O número {} não é primo".format(numero))
    break
  else:
    continue

# Solicitamos o número
num = int(input("Digite o número: "))

# Assumimos que o número é primo até que se prove o contrário
eh_primo = True

# Números abaixo de 2 não são primos
if num <= 1 :
  eh_primo = False
else:
    for i in range(2, num):
        # Se o número for divisível por qualquer número dentro deste intervalo,
        # ele não é primo, portanto, mudamos a variável 'eh_primo' para False e saímos do loop.
        if num % i == 0:
            eh_primo = False
            break

# Verifica se 'eh_primo' ainda é True, o que significa que o número passou pelo loop
# sem ser divisível por nenhum número além de 1 e ele mesmo.
if eh_primo:
    # Se for o caso, o número é primo.
    print(f'O número {num} é primo')
else:
    # Caso contrário, o número não é primo.
    print(f'O número {num} não é primo')

Digite um número: 197
O número 197 é primo!

In [ ]:
intervalo_1=0
intervalo_2=0
intervalo_3=0
intervalo_4=0
idade=1

while idade>0:
  idade=int(input('Digite a idade: '))
  if idade<0:
    break
  else:
    if idade<=25:
      intervalo_1+=1
    elif 26<idade<=50:
      intervalo_2+=1
    elif 50<idade<=75:
      intervalo_3+=1
    elif 75<idade<=100:
      intervalo_4+=1
    else:
      continue
print(f'A quantidade de pessoas com idade entre 0 e 25 anos é {intervalo_1}')
print(f'A quantidade de pessoas com idade entre 26 e 50 anos é {intervalo_2}')
print(f'A quantidade de pessoas com idade entre 51 e 75 anos é {intervalo_3}')
print(f'A quantidade de pessoas com idade entre 76 e 100 anos é {intervalo_4}')

Digite a idade: 10
Digite a idade: 20
Digite a idade: 30
Digite a idade: 40
Digite a idade: 5
Digite a idade: 50
Digite a idade: 60
Digite a idade: 70
Digite a idade: 80
Digite a idade: 90
Digite a idade: 100
Digite a idade: 111
Digite a idade: -1
A quantidade de pessoas com idade entre 0 e 25 anos é 3
A quantidade de pessoas com idade entre 26 e 50 anos é 3
A quantidade de pessoas com idade entre 51 e 75 anos é 2
A quantidade de pessoas com idade entre 76 e 100 anos é 3

In [ ]:
colaborador_1=0
colaborador_2=0
colaborador_3=0
colaborador_4=0
nulo=0
branco=0

for i in range(0,20):
  votação=int(input('Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): '))
  while votação>6 or votação<1:
    print('Voto inválido')
    votação=int(input('Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): '))
  if votação==1:
    colaborador_1+=1
  elif votação==2:
    colaborador_2+=1
  elif votação==3:
    colaborador_3+=1
  elif votação==4:
    colaborador_4+=1
  elif votação==6:
    nulo+=1
  else:
   branco+=1
p_nulo=nulo/20*100
p_branco=branco/20*100
77
print(f'O candidato 1 teve {colaborador_1} votos')
print(f'O candidato 2 teve {colaborador_2} votos')
print(f'O candidato 3 teve {colaborador_3} votos')
print(f'O candidato 4 teve {colaborador_4} votos')
print(f'O nulo teve {nulo} votos e {p_nulo}% dos votos totais')
print(f'O branco teve {branco} votos e {p_branco}% dos votos totais')

Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): 1
Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): -1
Voto inválido
Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): -2
Voto inválido
Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): 0
Voto inválido
Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): 1
Digite o número do candidato(sendo 5 e 6 nulo e braco, respectivamente): 2
O candidato 1 teve 2 votos
O candidato 2 teve 1 votos
O candidato 3 teve 0 votos
O candidato 4 teve 0 votos
O nulo teve 0 votos e 0.0% dos votos totais
O branco teve 0 votos e 0.0% dos votos totais

In [ ]:
lista=[]
lista.sort()
lista.append()
lista.pop()
lista.index()
lista.insert()

In [ ]:
dicionario={}
dicionario={'matricula': 2000168933, 'dia_cadastro':25,
            'mes_cadastro': 10, 'turma':'2E'}
dicionario

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E'}

In [ ]:
dicionario['matricula']

2000168933

In [ ]:
dicionario['turma'] = '2A'
dicionario

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2A'}

In [ ]:
dicionario['modalidade']= 'EAD'
dicionario

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E',
 'modalidade': 'EAD'}

In [ ]:
dicionario.pop('turma')

'2E'

In [ ]:
dicionario.items()

dict_items([('matricula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modalidade', 'EAD')])

In [ ]:
dicionario.keys()

dict_keys(['matricula', 'dia_cadastro', 'mes_cadastro', 'modalidade'])

In [ ]:
dicionario.values()

dict_values([2000168933, 25, 10, 'EAD'])

In [ ]:
for chaves in dicionario.keys():
  print(dicionario[chaves])

2000168933
25
10
EAD

In [ ]:
for chaves,valores in dicionario.items():
  print(f'A chave {chaves} tem valor {valores}')

A chave matricula tem valor 2000168933
A chave dia_cadastro tem valor 25
A chave mes_cadastro tem valor 10
A chave modalidade tem valor EAD

In [ ]:
loja = {'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
        'precos': [2000, 1500, 3500, 4000, 1500]}

for chave, elementos in loja.items():
  print(f'Chave: {chave}\nElementos:')
  for dado in elementos:
    print(dado)

Chave: nomes
Elementos:
televisão
celular
notebook
geladeira
fogão
Chave: precos
Elementos:
2000
1500
3500
4000
1500

In [ ]:
precos = [100.0, 400.0, 200.0]
soma = sum(precos)
soma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

DESAFIOS

In [ ]:
lista =[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media=sum(lista)/len(lista)
media

3144.222

In [ ]:
compras_acima_3000=0
for i in lista:
  if i>3000:
    compras_acima_3000+=1
print(f'A quantidade de compras_acima_3000 acima de 3000 foi de {compras_acima_3000}')
print(compras_acima_3000/len(lista)*100)

A quantidade de compras acima de 3000 foi de 7
70.0

In [ ]:
lista=[]
for i in range(5):
  lista.append(int(input('Digite um número: ')))
lista

Digite um número: 1
Digite um número: 2
Digite um número: 5
Digite um número: 3
Digite um número: 4

[1, 2, 5, 3, 4]

In [ ]:
lista=[]
for i in range(5):
  lista.append((int(input('Digite um número: '))))

lista.reverse()
print(lista)

# Lista que irá armazenar os 5 números inteiros
lista_numeros = []

# Criamos um laço que vai iterar 5 vezes para receber os 5 números
for i in range(0, 5):
  # Coletamos o valor e inserimos na lista por 5 vezes
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
# Usamos da lógica de partição para imprimir o resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
[5, 4, 3, 2, 1]

In [ ]:

numero=int(input('Digite um número: '))
lista=[]
for num in range(1, numero+1):
  for teste_divisivel in range(2, num):
    if num % teste_divisivel==0:
      break
    else:
      continue
  else:
    lista.append(num)
print(lista)


# Coletamos o números
numero = int(input('Digite um número inteiro: '))
# Lista para receber os números primos
lista_primos = []
# Laço que vai rodar por todos os números abaixo do número digitado
for num in range(2, numero):
  # Primo é uma bandeira, ela permite sabermos se o valor analisado é ou não primo
  primo = True
  # Testamos se todos os números abaixo do especificado no primeiro laço podem
  # gerar uma divisão exata
  for teste_divisiveis in range(2, num):
    if num % teste_divisiveis == 0:
      # Caso seja divisivel por algum número entendemos que
      # o num não é primo e finalizamos o laço interno com break
      primo = False
      break
  # A condição se torna o resultado booleno de primo: False, ignoramos o condicional
  # True, executamos o bloco do if
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Digite um número: 1
[1]
Digite um número inteiro: 2
Lista de números primos: []

In [ ]:
data=input('Digite a data no formato dd/mm/aaaa: ')

while len(data)!=10 or data[2]!='/' or data[5]!='/' or not data[0:2].isnumeric() or not data[3:5].isnumeric() or not data[6:10].isnumeric():
  data=input('Digite a data no formato dd/mm/aaaa: ')

lista=data.split('/')
lista
dicionario={'dia':lista[0], 'mes':lista[1], 'ano':lista[2]}
print(dicionario)


# Coletamos a data
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

# Análise de fevereiro
if mes == 2:
  # Verificamos se é ou não um ano bissexto
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  # Verificamos se o dia colocado corresponde ao máximo de dias de fevereiro
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 31 dias
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 30 dias
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
# Caso o mês não esteja entre 1 e 12
else:
  print('Data inválida')

Digite a data no formato dd/mm/aaaa: 21
Digite a data no formato dd/mm/aaaa: 21/20/2004
{'dia': '21', 'mes': '20', 'ano': '2004'}
Digite o dia: 40
Digite o mês: 30
Digite o ano: 2024
Data inválida

In [ ]:
numero_bacterias=[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
lista_porcentagem=[]
for i in range(len(numero_bacterias) - 1):
  porcentagem_crescimento=((numero_bacterias[i+1]-numero_bacterias[i])*100)/numero_bacterias[i]
  lista_porcentagem.append(porcentagem_crescimento)
for i in range(len(lista_porcentagem)):
  print(f'dia {i + 1}: {lista_porcentagem[i]:.2f} %')

# Lista de crescimento das bactérias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que irá armazenar as porcentagens de crescimento
porcentagem_crescimento = []
# Vamos percorrer os índices de 1 a 9 para compararmos o valor atual com o passado
for i in range(1, len(bacterias_colonia)):
  # seguimos o cálculo 100 * (amostra_atual - amostra_passada) / (amostra_passada)
  porcentagem = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # adicionamos o resultado na lista porcentagem_crescimento
  porcentagem_crescimento.append(porcentagem)
# Resultado
print(f'Porcentagens de crescimento:\n{porcentagem_crescimento}')

dia 1: 75.00 %
dia 2: 57.14 %
dia 3: 51.52 %
dia 4: 56.00 %
dia 5: 44.87 %
dia 6: 46.90 %
dia 7: 51.20 %
dia 8: 50.60 %
dia 9: 50.53 %
Porcentagens de crescimento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [ ]:
doce=0
amargo=0
lista=[]
for i in range(10):
  lista.append(int(input(f'Digite o {i+1} do ID: ')))
  if lista[i]%2==0:
    doce+=1
  else:
    amargo+=1
print(f'A quantidade de doces é {doce}')
print(f'A quantidade de amargos é {amargo}')

Digite o 1 do ID: 1
Digite o 2 do ID: 1
Digite o 3 do ID: 1
Digite o 4 do ID: 2
Digite o 5 do ID: 2
Digite o 6 do ID: 2
Digite o 7 do ID: 3
Digite o 8 do ID: 3
Digite o 9 do ID: 3
Digite o 10 do ID: 4
A quantidade de doces é 4
A quantidade de amargos é 6

In [ ]:
gabarito=['D','A','C','B','A','D','C','C','A','B']
respostas=[]
nota=0
for i in range(len(gabarito)):
  respostas.append(input(f'Digite a resposta da {i+1}° questão (A,B,C ou D): ').upper())
  while respostas[i]!='A' and respostas[i]!='B' and respostas[i]!='C' and respostas[i]!='D':
    respostas[i]=input('Digite a resposta da questão correta! (A,B,C ou D): ')
  if respostas[i]==gabarito[i]:
    nota+=1
  else:
    continue
print(f'A nota do aluno foi {nota}.0')

Digite a resposta da 1° questão (A,B,C ou D): a
Digite a resposta da 2° questão (A,B,C ou D): a
Digite a resposta da 3° questão (A,B,C ou D): c
Digite a resposta da 4° questão (A,B,C ou D): b
Digite a resposta da 5° questão (A,B,C ou D): a
Digite a resposta da 6° questão (A,B,C ou D): d
Digite a resposta da 7° questão (A,B,C ou D): c
Digite a resposta da 8° questão (A,B,C ou D): a
Digite a resposta da 9° questão (A,B,C ou D): b
Digite a resposta da 10° questão (A,B,C ou D): b
A nota do aluno foi 7.0

In [ ]:
media_temperatura=[]
mes=['janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro']

for i in range(12):
  media_temperatura.append(float(input(f'Digite a temperatura média do mês de {mes[i]}: ')))
  while media_temperatura[i]<0:
    media_temperatura[i]=float(input(f'Digite a temperatura média do mês {mes[i]}: '))
  media_anual=sum(media_temperatura)/len(media_temperatura)
print(f'A média anual foi de {media_anual:.2f}')
for i in range(len(media_temperatura)):
  if media_temperatura[i]>media_anual:
    print(f'O mês {mes[i]} teve temperatura acima da média anual ({media_temperatura[i]})')
  else:
    continue

Digite a temperatura média do mês de janeiro: 20
Digite a temperatura média do mês de fevereiro: 3
Digite a temperatura média do mês de março: 30
Digite a temperatura média do mês de abril: 100
Digite a temperatura média do mês de maio: 10
Digite a temperatura média do mês de junho: 10
Digite a temperatura média do mês de julho: 10
Digite a temperatura média do mês de agosto: 10
Digite a temperatura média do mês de setembro: 5
Digite a temperatura média do mês de outubro: 4
Digite a temperatura média do mês de novembro: 3
Digite a temperatura média do mês de dezembro: 2
A média anual foi de 17.25
O mês janeiro teve temperatura acima da média anual (20.0)
O mês março teve temperatura acima da média anual (30.0)
O mês abril teve temperatura acima da média anual (100.0)

In [ ]:
vendas={'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
soma_vendas=sum(vendas.values())
maior_venda=0
produto_mais_vendido=''

for produto,venda in vendas.items():
  if venda>maior_venda:
    maior_venda=venda
    produto_mais_vendido=produto
  else:
    continue

print(f'A soma de vendas foi de {soma_vendas}')
print(f'O produto mais vendido foi {produto_mais_vendido}')


# Dicionário de vendas
dados_vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

# Inicializamos as variáveis
total_vendas = 0 # Irá somar todos as vendas
produto_mais_vendido = '' # Irá armazenar o nome do produto mais vendido
unidades_produto_mais_vendido = 0 # Irá armazenar a maior quantidade vendas

# Percorremos os valores de chaves e elementos do dicionário
for produto in dados_vendas.keys():
  # Somamos o total de vendas
  total_vendas += dados_vendas[produto]
  # Verificamos se valor de venda atual desing (dados_vendas[produto]) é maior que o valor armazenado em unidades_produto_mais_vendido
  # Cada vez que dados_vendas[produto] superar o valor em unidades_produto_mais_vendido,
  # a variável unidades_produto_mais_vendido vai ser igual à dados_vendas[produto], atribuindo um novo valor
  # De forma similar, produto_mais_vendido também é substituído pelo produto atual
  if dados_vendas[produto] > unidades_produto_mais_vendido:
    unidades_produto_mais_vendido = dados_vendas[produto]
    produto_mais_vendido = produto
# Resultados
print(f'Total de vendas é {total_vendas}')
print(f'{produto_mais_vendido} é o mais vendido')

A soma de vendas foi de 920
O produto mais vendido foi Produto A

In [ ]:
designs={'Design 1':1334,'Design 2':982,'Design 3':1751,'Design 4':210,'Design 5':1811}
maior_voto=0
design_mais_votado=''
total_votos=sum(designs.values())

for design,voto in designs.items():
  if voto>maior_voto:
    maior_voto=voto
    design_mais_votado=design
  else:
    continue
print(f'O design mais votado foi {design_mais_votado} com {(maior_voto*100)/sum(designs.values()):.2f} % dos votos')
#


# Dicionário de votos por design
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}

# Inicializamos as variáveis
total_votos = 0 # Irá somar todos os votos
vencedor = '' # Irá armazenar o nome do design vencedor
voto_vencedor = 0 # Irá armazenar a quantidade vencedora de votos

# Percorremos os valores de chaves e elementos do dicionário
for design, voto_desing in votos.items():
  # Somamos o total de votos
  total_votos += voto_desing
  # Verificamos se o voto do atual desing (voto_desing) é maior que o valor armazenado em voto_vencedor
  # Cada vez que voto_desing superar o valor em voto_vencedor,
  # a variável voto_vencedor vai ser igual à voto_desing, atribuindo um novo valor
  # De forma similar, o vencedor também é substituído pelo design
  if voto_desing > voto_vencedor:
    voto_vencedor = voto_desing
    vencedor = design
# Calculamos a porcentagem do design vencedor
porcentagem = 100 * (voto_vencedor) / (total_votos)

#Resultado
print(f'{vencedor} é o vencedor: ')
print(f'Porcentagem de votos: {porcentagem}%')

O design mais votado foi Design 5 com 29.75 % dos votos
Design 5 é o vencedor:
Porcentagem de votos: 29.747043363994745%

In [ ]:
salarios=[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
dicionario={}
abono=0
qt_abono_min=0
abono_max=0
for i in range(len(salarios)):
  if salarios[i]*0.1<200:
    abono=200
    dicionario[salarios[i]]=abono
    qt_abono_min+=1
  else:
    abono=round(salarios[i]*0.1,2)
    dicionario[salarios[i]]=abono
    if abono>abono_max:
      abono_max=abono

print(dicionario)
print(f'Soma de abonos: {sum(dicionario.values())}')
print(f'A quantidade de colaboradores que receberam abono minimo foi de {(qt_abono_min)}')
print(f'Maior abono: {abono_max}')
#


# Lista de salários
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos as variáveis
dic_abonos = {} # Dicionário de abonos
total_abono = 0 # Irá somar todos os gastos com abono
abonos_minimo = 0 # Irá armazenar a quantidade de abonos mínimos
maior_abono = 0 # Irá armazenar o maior valor de abono

# Percorremos toda a lista de salários
for salario in salarios:
  # Calculamos o valor teórico de abono
  abono = salario * 0.1
  # Caso o abono seja inferior a 200,
  # ajustamos o valor de abono para o mínimo (200)
  if abono < 200:
    abono = 200
  # Adicionamos um novo dado no dicionário chave abono
  dic_abonos[salario] = abono

# Percorremos todos os valores do dicionário de abonos
for abono in dic_abonos.values():
  # Contamos o salário minimo
  if abono == 200:
    abonos_minimo += 1
  # Verificamos se o abono lido é maior que o valor armazenado em maior_abono
  # Cada vez que o abono superar o valor de maior_abono,
  # a variável maior_abono vai ser igual à abono, atribuindo um novo valor
  if abono > maior_abono:
    maior_abono = abono
  # Somamos os abonos
  total_abono += abono
# Resultados
print(f'Abonos: {dic_abonos}')
print(f'Total de gasto com abonos: {total_abono}')
print(f'Número de funcionários que receberam o abono mínimo: {abonos_minimo}')
print(f'Maior valor de abono: {maior_abono}')

{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8, 7685: 768.5, 7782: 778.2, 7903: 790.3}
Soma de abonos: 6087.8
A quantidade de colaboradores que receberam abono minimo foi de 2
Maior abono: 790.3
Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gasto com abonos: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

In [ ]:
especies={'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
plantas=0
animais=0
maior_diversidade=0
media_especie=sum([sum(especie) for especie in especies.values()])/len(especies)
for area,especie in especies.items():
    plantas+=especie[0]
    animais+=especie[1]
    if (sum(especie))>maior_diversidade:
      maior_diversidade=sum(especie)
      area_mais_diversa=area
    else:
      continue

print(f'A média geral de espécies é {media_especie}')
print(f'A média de plantas é de {plantas/len(especies):.1f}')
print(f'A média de animais é de {animais/len(especies):.1f}')
print(f'A aréa de maior diversidade é a {area_mais_diversa} \nCom {especie[0]} plantas e {especie[1]} animais')


# Especificamos os dados para um dicionário
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos as variáveis
soma_media = 0 # Irá somar todas as médias
maior_diversidade = '' # Irá armazenar a área com maior diversidade
maior_soma = 0 # Irá armazenar a maior soma de espécies
# Percorremos os valores de chaves e elementos do dicionário
for area, especies in dados.items():
  # Fazemos a soma do números de espécies em cada área com a função sum
  soma_especies = sum(especies)
  # Calculamos a média dividindo a soma das espécies pela quantidade de espécies
  media = soma_especies / len(especies)
  # Imprimimos
  print(f'A {area} tem a média de {media} espécies')
  # Verificamos se a soma das espécies é maior que o valor armazenado de maior_soma
  # Cada vez que a soma_especies superar o valor de maior_soma,
  # a variável maior_soma vai ser igual à soma_especies, atribuindo um novo valor
  # De forma similar, maior_diversidade também é substituída
  if soma_especies > maior_soma:
      maior_soma = soma_especies
      maior_diversidade = area
  # Somamos as médias
  soma_media += media
# A média total será dada pela soma_media dividida pela quantidade de áreas
media_total = soma_media / len(dados)
print(f'\n\nMédia geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A média geral de espécies é 33258.4
A média de plantas é de 9446.4
A média de animais é de 23812.0
A aréa de maior diversidade é a Área Centro
Com 22558 plantas e 45148 animais
A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies


Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

In [ ]:
dicionario={'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
idade_total=[]
qtd_pessoas_acima_da_media=0

for setor,idade in dicionario.items():
   print(f'A média de idade do setor {setor} é de {sum(idade)/len(idade)} anos')
   idade_total.extend(idade)

media_geral = sum(idade_total) / len(idade_total)

for setor, idades in dicionario.items():
    for idade in idades:  # Iterate through each individual age in the list
        if idade > media_geral:
            qtd_pessoas_acima_da_media += 1


print(f'A idade média geral é de {media_geral:.2f} anos')
print(f'A quantidade de pessoas com média de idade acima da média geral é de {qtd_pessoas_acima_da_media} pessoas')

A média de idade do setor Setor A é de 39.9 anos
A média de idade do setor Setor B é de 42.3 anos
A média de idade do setor Setor C é de 35.8 anos
A média de idade do setor Setor D é de 36.5 anos
A idade média geral é de 38.62 anos
A quantidade de pessoas com média de idade acima da média geral é de 18 pessoas